In [102]:
import pandas as pd 
from sqlalchemy import create_engine, text
import pymysql
import json
import requests
from sqlalchemy import insert

In [41]:
# Create the database engine
engine = create_engine("mysql+pymysql://root:root100%@localhost/dataengineer", max_overflow=-1)

# View the tables in the database
print(engine.table_names())

# Load address without any SQL
address = pd.read_sql("address", engine)

# View the rows of address table
print(address)

['actor', 'address', 'category', 'customer', 'film', 'film_actor', 'film_category', 'film_text', 'inventory', 'language', 'payment', 'rental', 'staff', 'store']
     address_id                  address                  city postal_code  \
0             1     318 CHE DE ROUMAGOUA             LA CIOTAT       13600
1             2         19 RUE DES DAMES         SAINTE SAVINE       10300
2             3  22 RUE AMIRAL GUEPRATTE            LE CONQUET       29217
3             4          6 BD DES ETINES             LE COTEAU       42120
4             5      35 AV DU 159EME RIA              BRIANCON        5100
..          ...                      ...                   ...         ...
557         601              20 RUE COLI             MONTREUIL       93100
558         602         6 AV JEAN JAURES                 FEURS       42110
559         603     1 RUE HENRI RENAUDIN  CHARLEVILLE-MEZIERES        8000
560         604            2 RUE DE LYON      EPINAY SUR SEINE       93800
561         605        4 RUE DENIS PAPIN                 BLAIN       44130

    latitude longitude
0       None      None
1       None      None
2       None      None
3       None      None
4       None      None
..       ...       ...
557     None      None
558     None      None
559     None      None
560     None      None
561     None      None

[562 rows x 6 columns]

In [6]:
address.isna().sum()

address_id     0
address        0
city           0
postal_code    0
dtype: int64

In [4]:
def convert_address(df):
    lat = []
    lon = []

    for i in range(len(df)):
        x = df['address'][i]+'+'+df['city'][i]+'+'+df['postal_code'][i]
        link = "https://nominatim.openstreetmap.org/search?q={}&format=json".format(x)
        r = requests.get(link)
        try:
            lat.append(r.json()[0]['lat'])
            lon.append(r.json()[0]['lon'])
        except:
            lat.append('NaN')
            lon.append('NaN')
    return lat, lon

In [7]:
data_geo = convert_address(address)

In [11]:
latitude = data_geo[0]
longitude = data_geo[1]

In [96]:
engine.connect().execute(text("ALTER TABLE address ADD latitude VARCHAR(24) DEFAULT NULL"))

In [94]:
engine.connect().execute(text("ALTER TABLE address ADD latitude VARCHAR(24) DEFAULT '' not null"))
engine.connect().execute(text("ALTER TABLE address MODIFY latitude VARCHAR(24) NOT NULL AUTO_INCREMENT"))

OperationalError: (pymysql.err.OperationalError) (1063, "Incorrect column specifier for column 'latitude'")
[SQL: ALTER TABLE address MODIFY latitude VARCHAR(24) NOT NULL AUTO_INCREMENT]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [95]:
engine.connect().execute(text("ALTER TABLE address DROP latitude"))

In [61]:
engine.connect().execute(text("ALTER TABLE address DROP longitude"))

In [63]:
engine.connect().execute(text("ALTER TABLE address ADD longitude VARCHAR(24) DEFAULT '' not null"))

In [97]:
pd.read_sql("address", engine)

,address_id,address,city,postal_code,longitude,latitude
0,1,318 CHE DE ROUMAGOUA,LA CIOTAT,13600,,None
1,2,19 RUE DES DAMES,SAINTE SAVINE,10300,,None
2,3,22 RUE AMIRAL GUEPRATTE,LE CONQUET,29217,,None
3,4,6 BD DES ETINES,LE COTEAU,42120,,None
4,5,35 AV DU 159EME RIA,BRIANCON,5100,,None
...,...,...,...,...,...,...
557,601,20 RUE COLI,MONTREUIL,93100,,None
558,602,6 AV JEAN JAURES,FEURS,42110,,None
559,603,1 RUE HENRI RENAUDIN,CHARLEVILLE-MEZIERES,8000,,None
560,604,2 RUE DE LYON,EPINAY SUR SEINE,93800,,None
561,605,4 RUE DENIS PAPIN,BLAIN,44130,,None

In [110]:
insert_data = insert(address).values(latitude=latitude, longitude=longitude) 
insert_data

ArgumentError: FROM expression expected

In [113]:
from sqlalchemy import update

# Ideally, just use your primary key(s) in your where clause; I'm not sure what they are
stmt = (update(address).values(latitude=latitude)    # updates the host_name, for example
engine.connect().execute(stmt)

SyntaxError: invalid syntax (<ipython-input-113-ac8bf1e1866e>, line 5)

In [105]:
insert_data = insert(address).values(latitude=latitude, longitude=longitude) 
engine.connect().execute(insert_data)
engine.connect().commit()

ArgumentError: FROM expression expected

In [67]:
for i in range(len(address)):
        engine.connect().execute(text("INSERT INTO address (latitude, longitude) VALUES ({}, {})".format(latitude[i], longitude[i])))

OperationalError: (pymysql.err.OperationalError) (1364, "Field 'address' doesn't have a default value")
[SQL: INSERT INTO address (latitude, longitude) VALUES (43.2009979, 5.6057988)]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [101]:
engine.connect().execute(text("INSERT INTO address latitude VALUES r"))

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'latitude VALUES r' at line 1")
[SQL: INSERT INTO address latitude VALUES r]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [107]:
engine.connect().execute(
         insert(address),
          [
             {"latitude": "sandy", "longitude": "Sandy Cheeks"},
             {"latitude": "patrick", "latitude": "Patrick Star"}
         ]
)

engine.connect().commit()

ArgumentError: FROM expression expected

In [108]:
pd.read_sql("address", engine)

,address_id,address,city,postal_code,longitude,latitude
0,1,318 CHE DE ROUMAGOUA,LA CIOTAT,13600,,None
1,2,19 RUE DES DAMES,SAINTE SAVINE,10300,,None
2,3,22 RUE AMIRAL GUEPRATTE,LE CONQUET,29217,,None
3,4,6 BD DES ETINES,LE COTEAU,42120,,None
4,5,35 AV DU 159EME RIA,BRIANCON,5100,,None
...,...,...,...,...,...,...
557,601,20 RUE COLI,MONTREUIL,93100,,None
558,602,6 AV JEAN JAURES,FEURS,42110,,None
559,603,1 RUE HENRI RENAUDIN,CHARLEVILLE-MEZIERES,8000,,None
560,604,2 RUE DE LYON,EPINAY SUR SEINE,93800,,None
561,605,4 RUE DENIS PAPIN,BLAIN,44130,,None